<div class="w-full h-full flex flex-col items-center">
    <div class="w-full flex flex-col items-center grow">
        <div class="card bg-neutral my-4 w-11/12">
            <div class="card-body">
                <h1 class="card-title text-2xl self-center">Política de Privacidade</h1>
                <p class="text-justify">Este documento de Política de Privacidade contém os tipos de informações que são coletadas e registradas pelo LawOps e como as utilizamos.</p>
                
                <h1 class="card-title self-center mt-8">Coleta e gerenciamento de informações</h1>
                <p class="text-justify">A base legal da DevDock para coletar e usar as informações pessoais descritas nesta Política de Privacidade depende das Informações Pessoais que coletamos e do contexto específico em que coletamos as informações:</p>
                <ul class="list-disc ml-6 text-justify">
                    <li>A DevDock precisa firmar um contrato com você</li>
                    <li>Você deu permissão à DevDock para gerenciar seus dados</li>
                    <li>A DevDock precisa cumprir a lei</li>
                    <li>A DevDock reterá suas informações pessoais apenas pelo tempo necessário para os fins estabelecidos nesta Política de Privacidade.</li>
                </ul>
                <div class="text-justify">
                    <p>Reteremos e usaremos suas informações na medida necessária para cumprir nossas obrigações legais, resolver disputas e fazer cumprir nossas políticas.</p>
                    <p>Em determinadas circunstâncias, você tem os seguintes direitos de proteção de dados:</p>
                </div>
                <ul class="list-disc ml-6 text-justify">
                    <li>O direito de acessar, atualizar ou excluir as informações que temos sobre você.</li>
                    <li>O direito de retificação.</li>
                    <li>O direito de restrição.</li>
                    <li>O direito à portabilidade de dados.</li>
                    <li>O direito de retirar o consentimento.</li>
                </ul>
                <h1 class="card-title self-center mt-8">Logs</h1>
                <p class="text-justify">O LawOps segue um procedimento padrão de uso de arquivos de log. Esses arquivos registram visitantes quando visitam sites. Todas as empresas de hospedagem fazem isso e fazem parte da análise dos serviços de hospedagem. As informações coletadas pelos arquivos de log incluem endereços de protocolo de Internet (IP), tipo de navegador, provedor de serviços de Internet (ISP), carimbo de data e hora, páginas de referência/saída e, possivelmente, o número de cliques. Eles não estão vinculados a nenhuma informação que seja pessoalmente identificável. O objetivo das informações é analisar tendências, administrar o site, rastrear o movimento dos usuários no site e coletar informações demográficas.</p>
                
                <h1 class="card-title self-center mt-8">Cookies</h1>
                <div class="text-justify">
                    <p>Como qualquer outro site, o LawOps utiliza “cookies”. Estes cookies são utilizados para armazenar informações, incluindo as preferências dos visitantes e as páginas do site que o visitante acessou ou visitou. As informações são usadas para otimizar a experiência dos usuários, personalizando o conteúdo da nossa página web com base no tipo de navegador dos visitantes e/ou outras informações.</p>
                    <p>Você pode optar por desativar os cookies através das opções individuais do seu navegador. Para saber informações mais detalhadas sobre o gerenciamento de cookies com navegadores web específicos, você pode encontrá-las nos respectivos sites dos navegadores.</p>
                    <p>Observe que a desativação de cookies pode resultar em um funcionamento não eficaz do LawOps.</p>
                </div>
                
                <h1 class="card-title self-center mt-8">Políticas de privacidade apenas online</h1>
                <p class="text-justify">A nossa Política de Privacidade aplica-se apenas às nossas atividades online e é válida para os visitantes do nosso site no que diz respeito às informações que partilharam e/ou recolheram no LawOps. Esta política não se aplica a quaisquer informações coletadas off-line ou por meio de canais que não sejam este site.</p>
                
                <h1 class="card-title self-center mt-8">Consentimento</h1>
                <p class="text-justify">Ao utilizar nosso site, você concorda com nossa Política de Privacidade e concorda com seus termos.</p>
                
                <h1 class="card-title self-center mt-8">Contato</h1>
                <p class="text-justify">Caso você possua alguma dúvida sobre esta Política de Privacidade aqui explícita, entre em contato com a DevDock através da nossa página de <a class="font-bold hover:text-primary cursor-pointer">contato</a> </p>
            </div>
        </div>
    </div>
    <app-footer class="w-full"></app-footer>
</div>